<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSite</title>
    <link rel="stylesheet" href="~/css/site.css" /> 
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="/">Web Sitem</a>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() 
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebSite
        </div>
    </footer>
</body>
</html>
